body {
font-family: 'Roboto', sans-serif;
}
img {
  display: block;
  width: 100%;
}
 .container {
  max-width: 1170px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
 }
.architecture__title {
  font-family: 'Delius Unicase';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 1.25;

text-align: center;
letter-spacing: 0.05em;

color: #000000;
margin-bottom: 60px;

@media screen and (min-width: 768px) {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  margin-bottom: 80px;
}
}
.grid__container {
  display: grid;
}
.grid__item {
}
// .architecture__block {
//   background: 
 
// }
.architecture__img {
  position: relative;
  object-fit: cover;
  width: 370px;
  height: 370px;
  border-radius: 20px;
}

.architecture__img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 370px;
  background-image: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
  border-radius: 20px;
}
.architecture__author {
}
.architecture__date {
}